<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Опис</h1>
    <p>
        Сервіс доставки – сервіс (послуга) доставки їжі та інших товарів додому або в офіс покупця. Має прямий взаємозв’язок із сферою логістики.
Логістика – сукупність організаційно-керівничих і виробничо-технологічних процесів по ефективному забезпеченню організації руху матеріальних та інших ресурсів. З точки зору практичного використання логістика – вибір найбільш ефективного варіанту забезпечення товаром потрібної якості, потрібної кількості, в потрібний час, в потрібному місці з мінімальними витратами.
    </p>
    <h1>Дані</h1>
    <p>
        Сайт цього сервісу містить список товарів для майбутньої доставки, можливість вказати точку доставки, вимір відстані та розрахунок фінальної вартості. За бажанням користувача, можливо також вказати швидкість доставки, що також буде впливати на вартість доставки. Вся інформація про товари у базі даних. Також зберігається історія минулих замовлень, яку користувач може переглядати. Для поповнення списку новими товарами виділена спеціальна форма.
    </p>

</body>
</html>