@model Task4.Models.BookModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <!--<link href="~/styles.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .input-validation-error {
            border-color: red;
        }
    </style>
</head>
<body class="card-body">
    <h1>Додавання книги</h1>
    <div>
        <form action="/Book/Add" method="post">
            <div class="form-group">
                <label asp-for="Title">Назва:</label>
                <input type="text" name="title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages">Кількість сторінок:</label>
                <input type="text" name="pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="select">Жанр:</label>
                <select asp-for="Genre" asp-items="ViewBag.Options"></select>
            </div>
            <button class="btn btn-primary" type="submit">Додати</button>
        </form>
    </div>
</body>
</html>