<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Реєстрація успішна</h1>
    <p>
        <a href="/Account/Login">Увійти на сайт</a>
    </p>
</body>
</html>