<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Charts</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Графіки</h1>
    <ul>
        <li>
            <a href="/Graph/Chart/BarChart">Рейтинг продажів</a>
        </li>
        <li>
            <a href="/Graph/Chart/PieChart">Активність користувачів</a>
        </li>
        <li>
            <a href="/Graph/Chart/LineGraph">Статистика продажів</a>
        </li>
        <!--<li>
            <a href="/Data/Table/History">Історія</a>
        </li>
        <li>
            <a href="/Data/Table/Locations">Локації</a>
        </li>-->
    </ul>
</body>
</html>