<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tables</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Таблиці</h1>
    <ul>
        <li>
            <a href="/Data/Table/Categories">Категорії</a>
        </li>
        <li>
            <a href="/Data/Table/Products">Продукти</a>
        </li>
        <li>
            <a href="/Data/Table/Users">Користувачі</a>
        </li>
        <li>
            <a href="/Data/Table/History">Історія</a>
        </li>
        <li>
            <a href="/Data/Table/Locations">Локації</a>
        </li>
    </ul>
</body>
</html>